#
# This is a template of file "~/.ssh/config"
# which defines multi-keys for same git server
#
# For example, there 4 accounts:
#     user0 on github.com, it is main account (default) on github.com
#     user1 on github.com, it is a private account
#     user2 on bitbucket.org, it is account for company A
#     user3 on bitbucket.org, it is account for company B
# The config file is like this:
#     Host github.com
#         HostName github.com
#         User user0
#         IdentityFile ~/.ssh/id_rsa_user0
#     Host github
#         HostName github.com
#         User user0
#         IdentityFile ~/.ssh/id_rsa_user0
#     Host private
#         HostName github.com
#         User user1
#         IdentityFile ~/.ssh/id_rsa_user1
#     Host company0
#         HostName bitbucket.org
#         User user2
#         IdentityFile ~/.ssh/id_rsa_company_a
#     Host company1
#         HostName bitbucket.org
#         User user3
#         IdentityFile ~/.ssh/id_rsa_company_b
